*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}
body{
	font-size: 16px;
	font-family: 'Roboto', sans-serif;
}
img{
	max-width: 100%;
	display: block;
}
/*//header//*/
header{
    overflow: hidden;
    padding-top: 20px;
}
.container{
    width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}
.logo{
    width: 30%;
    float: left;
}
.logo img{}
.socials{
    width: 70%;
    float: left;
}
.socials ul{text-align: right;}
.socials ul li{
    list-style: none;
    display: -webkit-inline-box;
    margin-left: 20px;
}
.socials ul li a{
    text-decoration: none;
}
.unique{
}
.unique a{
}
.unique a:first-child{
}
.unique a:last-child{
    display: block;
}



/*//menu//*/
nav{
    margin: 25px 0;
}
nav ul{}
nav ul li{
    list-style: none;
    display: inline;
    margin-right: 20px;
}
nav ul li a{
    text-decoration: none;
    text-transform: uppercase;
    color: #737373;
    transition: 0.5s
}
nav ul li a:hover{
	color: #31CA77;

}

/*//banner//*/
.banner{}
.background{
    width: 100%;
    position: relative;
}
.background img{
    width: 100%;
}
.model{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%);
}
.model img{}
article{
    margin-top: 150px;
    text-align: center;
}
article p{
    /* text-align: center; */
    color: #989898;
}
article a{
}
article a button{
    margin-top: 30px;
    border: none;
    background: #2dcc70;
    color: white;
    padding: 13px 15px;
    cursor: pointer;
}
article a button:hover{
	background: white;
	color: #2dcc70;
}

/*//portfolio//*/
.portfolio{
    background: #e5e5e5;
    padding: 35px 0;
    margin-top: 35px;
}
.video-img{
    width: 50%;
    float: left;
    padding-right: 25px;
}
.video-img img{
    width: 100%;
}
.article-part{
    width: 50%;
    float: left;
    padding-left: 15px;
}
.article-part h1{
    color: #747474;
    font-weight: bold;
}
.article-part p{
    color: #9b9b9b;
    margin-top: 15px;
    font-size: 18px;
}


/*//button//*/
.button{
    background: #212121;
    padding: 30px 0;
}
.heading{
    width: 50%;
    float: left;
}
.heading h1{
    /* display: inherit; */
    color: white;
    margin-top: 5px;
}
.button_side{
    width: 50%;
    float: left;
    text-align: right;
}
.button_side a{}
.button_side button{
    border: none;
    background: #2dcc70;
    color: white;
    padding: 15px 12px;
    cursor: pointer;
}
.button_side button:hover{
	background: white;
	color: #2dcc70;
}


/*//footrt//*/
footer{
    background: #e5e5e5;
    padding: 20px 0;
}
.left_part{
    width: 50%;
    float: left;
}
.left_part ul{}
.left_part ul li{
    list-style: none;
    display: inline;
}
.left_part ul li a{
    text-decoration: none;
    color: #989898;
}
.right_part{
    width: 50%;
    float: left;
}
.right_part ul{
    text-align: right;
}
.right_part ul li{
    list-style: none;
    display: inline;
    padding-left: 13px;
}
.right_part ul li a{
    text-decoration: none;
    color: #9c9996;
}
.border{
    height: 70px;
    border-bottom: 1px solid #737373;
}
